/* TEXT CSS */

p {
  font-family: Georgia;
  font-size: 17px;
  color: black;
  margin-top: 0;
}

p.space {
  margin-top: 17px;
}

p.title {
  color: MediumAquamarine;
}

a.navlink {
  color: black;
}

.photo-head {
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.photo-head.main {
  font-size: 40px;
  text-align: left;
}

.news-head {
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  font-family: Verdana;
  text-transform: uppercase;
}

.news-items {
  background-color: WhiteSmoke;
  font-family: Verdana;
  font-size: 12px;
  color: DimGray;
  border-bottom: 1px solid black;
  padding: 10px 20px;
  margin: 0px;
 }


/* HEADER LEVEL CSS */

.header {
  /* display: flex; is still difficult to understand. The other settings are relatively straightforward */
  display: flex;
  position: fixed;
  width: 100%;
  align-items: center;
  padding: 20px 20px 20px 40px;
  z-index: 20;
  background-color: white;
  border-bottom: 1px solid black;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  /* The top, right, left, bottom settings were needed because there was an unexpected border of space around the header and other main section elements would show through when scrolling */
  top: 0;
  right: 0;
  left: 0;
  bottom: auto;
  }

.logo {
  display: flex;
  /* What do the numbers for flex: grow; represent? */
  flex-grow: 1;
  align-items: center;
  /* border: 1px solid cyan; */
}

.mytimes {
  padding-left: 12px;
}

.header-nav {
  padding-right: 80px;
}

.navspan {
  display: inline-block;
  text-align: center;
  padding: 0px 10px;
}

/* MAIN CONTENT CSS */
.maincontent {
  position: relative;
  top: 94px;
  display: flex;
  align-items: flex-start;
  margin: auto;
  width: 1300px;
  /* border: 4px solid black; */
}

.column {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid magenta; */
  margin: 30px 30px 0px 0px;
}

.column.large {
  justify-content: space-between;
  width: 630px;
 }

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
  flex-direction: column;
}

.column.story {
  margin: 0;
  /* border: 1px solid grey; */
  background-repeat: no-repeat;
  align-items: center;
}

.phish {
  background-image: url("../img/img-story-main.png");
  height: 300px;
  margin-top: 0;
  padding: 0px 20px;
}

.earth {
  background-image: url("../img/img-story-2.png");
  height: 300px;
  margin-top: 0;
  padding: 0px 20px;
}

.camera {
  background-image: url("../img/img-story-3.png");
  height: 300px;
  padding: 0px 20px;
}

.cats {
  background-image: url("../img/img-story-1.png");
  height: 300px;
  padding: 0px 20px;
}

.half {
  width: 299px;
}

.news {
  display: inline-block;
  justify-content: flex-start;
  }

.news-span {
}
